<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<% if (flash) { %>
    <% flash.forEach((obj) => { %>
        <%- include('../partials/flash', { type: obj.type, message: obj.message }) %>
    <% }); %>
<% } %>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>